@media (max-width: 1366px) {
  .offers {
    flex-direction: column;
  }
  .offers .laptops_watch {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .offers .laptops_watch .laptops {
    width: 100%;
    margin-bottom: 24px;
  }
  .offers .laptops_watch .watch {
    width: 100%;
  }
  .offers .phones_tablet {
    width: 100%;
    margin-top: 24px;
  }
  .offers .phones_tablet .phones {
    max-width: 50%;
    margin-left: 0;
    width: 100%;
  }
  .offers .phones_tablet .phones img {
    display: block;
    margin-left: auto;
  }
  .offers .phones_tablet .tablet {
    max-width: 50%;
    width: 100%;
    margin-left: 24px;
  }
  .offers .phones_tablet .tablet img {
    display: block;
    margin-left: auto;
  }
  .best_text + .d_flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  .best_text + .d_flex > div {
    margin: 12px;
  }
  .ideas_text + .d_flex {
    flex-direction: column;
  }
  .ideas_text + .d_flex img {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
  }
  .ideas_text + .d_flex .book_text {
    max-width: 100%;
    margin-top: 16px;
  }
}
@media (max-width: 1200px) {
  .owl-carousel .owl-item img {
    max-width: 400px;
  }
}
@media (max-width: 992px) {
  header {
    padding: 14px 0;
    margin-bottom: 12px;
  }
  header nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    background: #FFF;
    padding: 14px 15px;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li {
    margin-left: 0;
  }
  header nav ul li:not(:last-child) {
    margin-bottom: 16px;
  }
  header .close {
    position: fixed;
    right: 21px;
    top: 14px;
    width: 18px;
    z-index: 100;
    color: #000;
    font: 18px/26px "poppinsregular";
    display: none;
  }
  header .burger {
    display: block;
    width: 30px;
  }
  header .burger span {
    width: 100%;
    height: 2px;
    margin: 5px 0;
    background: #000;
    border-radius: 1px;
    display: block;
  }
  .phone .slide {
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
  }
  .phone h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .owl-carousel .owl-item img {
    margin-right: 0;
    width: 100%;
  }
  .text_banner {
    padding: 40px 0;
  }
  .owl-dot {
    width: 30px;
  }
  .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    font-size: 20px;
  }
  .shop h2, .most_selled h2, .best_text h2, .ideas_text h2, .search h2 {
    font-size: 32px;
    line-height: 40px;
    margin-top: 50px;
  }
  .best_text h2 {
    padding: 0;
  }
  .footer_container {
    flex-direction: column;
  }
  .links {
    grid-template-columns: 1fr 1fr;
  }
  .most_selled .d_flex {
    flex-direction: column;
    align-items: center;
  }
  .most_selled .d_flex .gadgets:not(:last-child) {
    margin-bottom: 24px;
  }
  .best_text p {
    margin-bottom: 24px;
  }
  .see_all {
    margin-top: 16px;
  }
  .book_text p {
    font-size: 16px;
    line-height: 24px;
    margin: 12px 0;
  }
  .never_miss h2 {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .watch {
    height: 160px;
  }
  .watch p {
    padding-top: 30px;
  }
  .watch img {
    height: 100%;
  }
  .laptops img {
    height: 200px;
  }
  .phones {
    overflow: hidden;
  }
  .phones h3 {
    margin-bottom: 0;
    padding: 0 10px;
  }
  .offers .phones_tablet .phones img {
    padding-top: 0;
    height: 300px;
    margin-top: -60px;
  }
  .tablet p {
    padding-top: 20px;
  }
  .tablet h3 {
    padding: 0 10px;
  }
  .offers .phones_tablet .tablet img {
    margin-bottom: 0;
    height: 300px;
    margin-bottom: -60px;
  }
  .never_miss {
    padding: 20px;
  }
}
@media (max-width: 576px) {
  .watch {
    overflow: hidden;
  }
  .watch img {
    margin-left: -65px;
  }
  .a_href {
    flex-wrap: wrap;
  }
  .a_href a {
    margin: 3px;
  }
  .search_keyword input {
    margin-bottom: 16px;
  }
  .email_form input {
    padding: 23px 20px;
    width: 100%;
  }
  .email_form button {
    white-space: nowrap;
    padding: 24px 20px;
  }
}

/*# sourceMappingURL=media.css.map */
