@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  margin: 0;
  padding: 0;
}
.container{
  max-width:1294px ;
  margin: auto;

}
.flex_start{
  align-items: flex-start;
}
.items_center{
  align-items: center;
}
.d_flex{
  display: flex;
  justify-content: space-between;
}

.body{
  background: #F5F5F5;
}
header {
  padding: 31px 0;

  nav {


    ul {
      display: flex;
      list-style: none;
      width: 900px;
      justify-content: center;
      li {
        margin-left: 32px;

        a {
          font-family: 'Inter', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          color: #000000;
          text-decoration: none;
        }
      }
    }
  }
}
.close{
  display: none;
}
.button{
  display: flex;
  margin: auto;
  width: 183px;
  justify-content: space-around;
}

.phone{
  background: #DCE5E2;
  border-radius: 32px;
  padding-left: 56px;
  max-width: 1294px;
  margin: auto;

  h1{
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 19px;
    p{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
   }

  }
}

.btn_explore{
  border: 1px solid #000000;
  border-radius: 200px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  padding: 14px 53px;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
}
.text_banner{

  padding-top: 145px;
  padding-bottom: 127px;
}

.owl-nav .owl-prev{
  position: absolute;
  left: -39px;
  top: 50%;
  background: none;
}
.owl-nav .owl-prev:before{
  content: "\f053";
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 900;
  color: black;
}
.owl-nav .owl-next{
  position: absolute;
  right: 19px;
  top: 50%;
  background: none;
}
.owl-nav .owl-next:before{
  content: "\f054";
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 900;
  color: black;
}
.owl-dots{
  position: absolute;
  left: 250px;
  bottom: 1px;
}
.owl-dot{
  background: #000000;
  border-radius: 0;
  width: 194px;
  height: 2px;
  margin-right: 34px;
  margin-bottom: 34px;
}


.shop{
  h2{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
    margin-top: 75px;
  }
  p{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin-bottom: 55px;
    max-width: 628px;
    margin-left: auto;
    margin-right: auto;
  }
}
.laptops{
  background: #FFFFFF;
  border-radius: 32px;
  width: 639px;
  margin-bottom: 72px;
  p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: right;
    color: #000000;
    margin-right: 42px;
  }
  h3{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: right;
    color: #000000;
    margin-right: 42px;
  }
}
.wath{
  background: #FFFFFF;
  border-radius: 32px;
  width: 639px;

  p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: right;
    color: #000000;
    margin-right: 42px;
    padding-top: 87px;
  }
  h3{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: right;
    color: #000000;
    margin-right: 42px;
  }
}
.phones{
  background: #FFFFFF;
  border-radius: 32px;
  max-width: 312px;
  margin-left: 16px;
  p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #000000;
  }
  h3{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin-bottom: 144px;
  }
  img{
    padding-top: 144px;
  }
}
.tablet{
  background: #FFFFFF;
  border-radius: 32px;
  max-width: 312px;
  margin-left: 16px;
  p{
    padding-top: 114px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #000000;


  }
  h3{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
  }
  img{
    margin-bottom: 115px;
  }
}
.most_selled{
  h2{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
    margin-top: 78px;
  }
  p{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    text-align: center;
    margin-bottom: 31px;
  }
}
.MacPro13{
  width: 302px;
  h4{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 9px;
}
  p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B;
    margin-bottom: 25px;
    text-align: left;
  }
  h5{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
}
.wath3{
  width: 302px;
  h4{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 9px;
  }
  p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B;
    margin-bottom: 25px;
    text-align: left;
  }
  h5{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
}
.MacAir_M1{
  width: 302px;
  h4{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 9px;
  }
  p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B;
    margin-bottom: 25px;
    text-align: left;
  }
  h5{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
}
.ipad{
  width: 302px;
  h4{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 9px;
  }
  p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B;
    margin-bottom: 25px;
    text-align: left;
  }
  h5{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
}
.best_text{
  h2{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
    padding-top: 74px;
}
  p{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    margin-bottom:56px;
    color: #000000;
    text-align: center;

  }
}
.latest{
  background: #F8F9FA;
  border-radius: 16px;
  width: 413px;
p{
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  padding-top: 41px;
}
  h5{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;

  }
  a{
    border: 1px solid #000000;
    border-radius: 200px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    padding: 14px 53px;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;

  }
  h6{
    text-align: center;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.best_sell{
  background: #F8F9FA;
  border-radius: 16px;
  width: 413px;
  p{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    padding-top: 41px;
  }
  h5{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;

  }
  a{
    border: 1px solid #000000;
    border-radius: 200px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    padding: 14px 53px;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;

  }
  h6{
    text-align: center;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.bulb_pack{
  background: #F8F9FA;
  border-radius: 16px;
  width: 413px;
    p{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    padding-top: 41px;
  }
  h5{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;

  }
  a{
    border: 1px solid #000000;
    border-radius: 200px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    padding: 14px 53px;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;

  }
  h6{
    text-align: center;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
}
.ideas_text{
  margin-top: 75px;
  h2{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    margin-bottom: 9px;
    color: #000000;
  }
  p{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 56px;
    color: #000000;
  }
}
.book_text{
  max-width: 600px;
  p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-bottom:28px;
    color: #000000;
    margin-top: 14px;
  }
}
.see_all{
  a{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #000000;
    list-style: none;

    text-decoration: none;
  }
h5{
  text-align: center;
  margin-top: 73px;
  margin-bottom: 24px;
  }

}


.search_keyword{
  position: relative;
  input{
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    padding-left: 46px;
    color: #000000;
    background: #F8F9FA;
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    width: 650px;
    box-sizing:border-box;
    padding-top: 22px;
    padding-bottom: 24px;
    margin-bottom: 30px;
  }
  img{
    position: absolute;
    top: 50%;
    left: 342px;
    transform: translateY(-50%);
  }
}
.search{
  h2{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 24px;

  }
}
.a_href{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 7px;
  max-width: 600px;
  a{
    display: block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-decoration: none;
    list-style: none;
    border: 1px solid #000000;
    border-radius: 200px;
    padding: 12px 22px;
    margin-right: 7px;
  }

}
.never_miss{
  max-width: 935px;
  background: #DCE5E2;
  border-radius: 16px;
  margin: 47px auto;
  h2{
    padding-top: 47px;
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
  }
  p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin-bottom: 14px;
  }
}
.email_form{
  display: flex;
  justify-content: center;
  input{
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    padding-left: 67px;
    color: #000000;
    background: #DCE5E2;
    border: 1px solid #000000;
    border-radius: 54px 0 0 54px;
    width: 285px;
    box-sizing:border-box;
    padding-top: 22px;
    padding-bottom: 24px;
    margin-bottom: 30px;
  }
  button{
    background: #000000;
    border-radius: 0 200px 200px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 22px;
    padding-bottom: 21px;
    margin-bottom: 30px;
  }
}
.footer{
  background: #F8F9FA;
  padding-top: 55px;
  padding-bottom: 16px;
}
.footer_container{
  display: flex;
  justify-content: space-between;
  max-width: 1295px;
  span{
    background: #DCE5E2;
    width: 1350px;
    height: 1px;
  }
}
.footer_logo{
p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    max-width: 304px;
    text-align: left;
    margin-top: 18px;
  }
}

.links{
  display: flex;
  width: 600px;
  justify-content: space-between;
}
.footer ul {
  list-style: none;
  li {
    margin-bottom: 14px;
  }
  li a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    text-decoration: none;
  }
  li:first-of-type a{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 19px;
  }
}


