@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1294px;
  margin: auto;
}

.flex_start {
  align-items: flex-start;
}

.items_center {
  align-items: center;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}

.body {
  background: #F5F5F5;
}

header {
  padding: 31px 0;
}
header nav ul {
  display: flex;
  list-style: none;
  width: 900px;
  justify-content: center;
}
header nav ul li {
  margin-left: 32px;
}
header nav ul li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.close {
  display: none;
}

.button {
  display: flex;
  margin: auto;
  width: 183px;
  justify-content: space-around;
}

.phone {
  background: #DCE5E2;
  border-radius: 32px;
  padding-left: 56px;
  max-width: 1294px;
  margin: auto;
}
.phone h1 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 19px;
}
.phone h1 p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.btn_explore {
  border: 1px solid #000000;
  border-radius: 200px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  padding: 14px 53px;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
}

.text_banner {
  padding-top: 145px;
  padding-bottom: 127px;
}

.owl-nav .owl-prev {
  position: absolute;
  left: -39px;
  top: 50%;
  background: none;
}

.owl-nav .owl-prev:before {
  content: "\f053";
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 900;
  color: black;
}

.owl-nav .owl-next {
  position: absolute;
  right: 19px;
  top: 50%;
  background: none;
}

.owl-nav .owl-next:before {
  content: "\f054";
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 900;
  color: black;
}

.owl-dots {
  position: absolute;
  left: 250px;
  bottom: 1px;
}

.owl-dot {
  background: #000000;
  border-radius: 0;
  width: 194px;
  height: 2px;
  margin-right: 34px;
  margin-bottom: 34px;
}

.shop h2 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
  margin-top: 75px;
}
.shop p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 55px;
  max-width: 628px;
  margin-left: auto;
  margin-right: auto;
}

.laptops {
  background: #FFFFFF;
  border-radius: 32px;
  width: 639px;
  margin-bottom: 72px;
}
.laptops p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: #000000;
  margin-right: 42px;
}
.laptops h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
  margin-right: 42px;
}

.wath {
  background: #FFFFFF;
  border-radius: 32px;
  width: 639px;
}
.wath p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: #000000;
  margin-right: 42px;
  padding-top: 87px;
}
.wath h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
  margin-right: 42px;
}

.phones {
  background: #FFFFFF;
  border-radius: 32px;
  max-width: 312px;
  margin-left: 16px;
}
.phones p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.phones h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-bottom: 144px;
}
.phones img {
  padding-top: 144px;
}

.tablet {
  background: #FFFFFF;
  border-radius: 32px;
  max-width: 312px;
  margin-left: 16px;
}
.tablet p {
  padding-top: 114px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}
.tablet h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}
.tablet img {
  margin-bottom: 115px;
}

.most_selled h2 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
  margin-top: 78px;
}
.most_selled p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  margin-bottom: 31px;
}

.MacPro13 {
  width: 302px;
}
.MacPro13 h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}
.MacPro13 p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  margin-bottom: 25px;
  text-align: left;
}
.MacPro13 h5 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.wath3 {
  width: 302px;
}
.wath3 h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}
.wath3 p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  margin-bottom: 25px;
  text-align: left;
}
.wath3 h5 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.MacAir_M1 {
  width: 302px;
}
.MacAir_M1 h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}
.MacAir_M1 p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  margin-bottom: 25px;
  text-align: left;
}
.MacAir_M1 h5 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.ipad {
  width: 302px;
}
.ipad h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}
.ipad p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  margin-bottom: 25px;
  text-align: left;
}
.ipad h5 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.best_text h2 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
  padding-top: 74px;
}
.best_text p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 56px;
  color: #000000;
  text-align: center;
}

.wathes {
  background: #F8F9FA;
  border-radius: 16px;
  width: 413px;
}
.wathes p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  padding-top: 41px;
}
.wathes h5 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
