@import url("https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1294px;
  margin: auto;
  padding: 0 15px;
}

.flex_start {
  align-items: flex-start;
}

.items_center {
  align-items: center;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}

header {
  padding: 30px 0;
  margin-bottom: 28px;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
header nav ul li {
  margin-left: 32px;
}
header nav ul li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.close {
  display: none;
}

.burger {
  display: none;
}

.button {
  display: flex;
}
.button a:first-child {
  margin-right: 14px;
}

.phone {
  margin: auto;
  padding: 0 15px;
  max-width: 1294px;
}
.phone .slide {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.phone .owl-carousel {
  background: #DCE5E2;
  border-radius: 32px;
}
.phone h1 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 19px;
  max-width: 600px;
  width: 100%;
}
.phone p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.owl-carousel .owl-item img {
  width: auto;
  height: 100%;
  margin-right: 70px;
}

.btn_explore {
  border: 1px solid #000000;
  border-radius: 200px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  padding: 14px 53px;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
}

.text_banner {
  padding: 140px 0 140px 60px;
}

.owl-nav .owl-prev {
  position: absolute;
  left: 18px;
  top: 50%;
  background: none;
}

.owl-nav .owl-prev:before {
  content: "\f053";
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 900;
  color: black;
}

.owl-nav .owl-next {
  position: absolute;
  right: 18px;
  top: 50%;
  background: none;
}

.owl-nav .owl-next:before {
  content: "\f054";
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 900;
  color: black;
}

.owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}

.owl-dot {
  background: #000000;
  border-radius: 0;
  width: 200px;
  height: 2px;
}
.owl-dot:not(:last-child) {
  margin-right: 30px;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
  font-size: 30px;
}

.shop h2 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
  margin-top: 75px;
}
.shop p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 55px;
  max-width: 628px;
  margin-left: auto;
  margin-right: auto;
}

.laptops {
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  background: #fff;
  width: 639px;
  margin-bottom: 72px;
}
.laptops img {
  margin-left: 40px;
}
.laptops p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: #000000;
  margin-right: 42px;
}
.laptops h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
  margin-right: 42px;
}

.watch {
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  background: #fff;
  width: 639px;
}
.watch p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: #000000;
  margin-right: 42px;
  padding-top: 87px;
}
.watch h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
  margin-right: 42px;
}

.phones {
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  background: #fff;
  max-width: 312px;
  margin-left: 16px;
}
.phones p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.phones h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-bottom: 144px;
}
.phones img {
  padding-top: 144px;
}

.tablet {
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  background: #fff;
  max-width: 312px;
  margin-left: 16px;
  overflow: hidden;
}
.tablet p {
  padding-top: 114px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}
.tablet h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}
.tablet img {
  margin-bottom: 115px;
  margin-left: -90px;
}

.most_selled h2 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
  margin-top: 78px;
}
.most_selled p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  margin-bottom: 31px;
}

.gadgets {
  width: 302px;
}
.gadgets:not(:last-child) {
  margin-right: 16px;
}
.gadgets h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}
.gadgets p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  margin-bottom: 8px;
  text-align: left;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.gadgets span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.gadgets .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}
.gadgets img {
  width: 100%;
  margin-bottom: 5px;
}

.best_text h2 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
  padding-top: 74px;
}
.best_text p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 56px;
  color: #000000;
  text-align: center;
}

.latest {
  background: #F8F9FA;
  border-radius: 16px;
  width: 413px;
}
.latest p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  padding-top: 41px;
}
.latest h5 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
.latest a {
  border: 1px solid #000000;
  border-radius: 200px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  padding: 14px 53px;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
}
.latest h6 {
  text-align: center;
}
.latest img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.best_sell {
  background: #F8F9FA;
  border-radius: 16px;
  width: 413px;
}
.best_sell p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  padding-top: 41px;
}
.best_sell h5 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
.best_sell a {
  border: 1px solid #000000;
  border-radius: 200px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  padding: 14px 53px;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
}
.best_sell h6 {
  text-align: center;
}
.best_sell img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.bulb_pack {
  background: #F8F9FA;
  border-radius: 16px;
  width: 413px;
}
.bulb_pack p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  padding-top: 41px;
}
.bulb_pack h5 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
.bulb_pack a {
  border: 1px solid #000000;
  border-radius: 200px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  padding: 14px 53px;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
}
.bulb_pack h6 {
  text-align: center;
}
.bulb_pack img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ideas_text h2 {
  margin-top: 75px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 9px;
  color: #000000;
}
.ideas_text p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 56px;
  color: #000000;
}

.book_text {
  max-width: 600px;
}
.book_text p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 28px;
  color: #000000;
  margin-top: 14px;
}

.see_all {
  margin-top: 73px;
  text-align: center;
}
.see_all a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #000000;
  list-style: none;
  text-decoration: none;
}

.search_keyword {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
}
.search_keyword input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #000000;
  background: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 24px 22px 24px 46px;
  margin-bottom: 30px;
}
.search_keyword img {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.search h2 {
  margin-top: 56px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 24px;
}

.a_href {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 7px;
  max-width: 600px;
}
.a_href a {
  display: block;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  border: 1px solid #000000;
  border-radius: 200px;
  padding: 12px 22px;
  margin-right: 7px;
}

.never_miss {
  max-width: 935px;
  background: #DCE5E2;
  border-radius: 16px;
  margin: 48px auto;
}
.never_miss h2 {
  padding-top: 47px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}
.never_miss p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin-bottom: 14px;
}

.email_form {
  padding-bottom: 44px;
  display: flex;
  justify-content: center;
}
.email_form input {
  display: block;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #000000;
  background: #DCE5E2;
  border: 1px solid #000000;
  border-radius: 54px 0 0 54px;
  width: 285px;
  box-sizing: border-box;
  padding: 23px 20px 23px 66px;
}
.email_form button {
  background: #000000;
  border-radius: 0 200px 200px 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  padding: 24px 32px;
  border: none;
}

.footer {
  background: #F8F9FA;
  padding: 30px 0 80px;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  max-width: 1295px;
  padding: 0 15px;
  flex-wrap: wrap;
}
.footer_container span {
  background: #DCE5E2;
  width: 1350px;
  height: 1px;
}
.footer_logo {
  margin: 0 16px 24px 0;
}
.footer_logo p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  max-width: 304px;
  text-align: left;
  margin-top: 18px;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  margin-bottom: 14px;
}
.footer ul li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
}
.footer ul li:first-of-type a {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 19px;
}

.links {
  display: grid;
  grid-gap: 28px;
  grid-template-columns: repeat(4, 200px);
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
